header{
    background-color: #097c75;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.name-san{
    color: #fff;
    text-align: center;

}
.list{
    list-style-type: none;
    display: inline-block;  
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}
/*home section*/
.home{
    background: #f7f7f7;
    align-items: center;
    font-weight: 600 ;
    height: auto;
    position: relative;
   
}
.home #particles-js{
    
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.into-btn{
    color: #fff;
    margin-top: 1rem;
    position: absolute;
    line-height: 0;
    padding: 1.2rem 3rem;
    border-radius: 0.7em;
    transition: 0.5s;
    color: #fff;
    background: #097c75;
    font-family: "Nunito", sans-serif;
    text-decoration: none;
    cursor: pointer;
    z-index: 1;
}
.into-btn:hover{
    color: #097c75;
    background: #f7f7f7;
}
.h-1{
    font-weight: 700;
    font-style: oblique;
    color: #097c75;
}
.h-3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #929699;
}
.icons{
    text-decoration: none;
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 5px;
    background: #929699;
    border-radius: 50px;
    box-shadow: 0px 10px 10px;
    color: #fff;
    text-align: center;
    padding-top: 12px;
    transition-duration: 0.5s;
    z-index: 1;
    flex: 1 1 40rem;
    cursor: pointer;
    position: relative;
}
.icons:hover{
    background: #fff;
    color: #929699;
    
}
.sanoof{
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  position: relative;
  flex: 1 1 40rem;
  z-index: 1;
}
/* about me*/
.section-header{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}
.sanoof-ylw{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    flex: 1 1 40rem;
    width: 50vh;
    height: 500vh;
    position:relative;
}
.para-add{
    color: #097c75;
}


/*Education Section */


.education{
    background: #e5ecfb;
    align-items: left;
    font-weight: 600 ;
    height: auto;
    position: relative;
    
}
.education .container-box-edu{
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.container-box-edu .box-edu{
    background: #fff;
    width: 80%;
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 0%;
    position: relative;
    margin: auto;
    transition: 0.3s;
    box-shadow: 0.2rem 0.5rem 1rem rgba(0,0,0,0.2);
}
.container-box-edu .box-edu:hover{
    transform: scale(1.04);
    box-shadow: 1 rem 0.5rem 1.2rem rgba(0,0,0,0.2);
}
.s-box{
    display: inline-block;
    vertical-align: middle;

}
.container-box-edu .box-edu .content h3{
    color: #012970;
    font-size: 1.7rem;
    font-weight: 700;
 
}
.container-box-edu .box-edu .content h4{
    font-size: 1.2rem;
    color: rgb(34, 109, 0);
    font-family: 'Nunito', sans-serif ;
    font-weight: 550;
}
.container-box-edu p{
    font-size: 1rem;
    
}

/*section of Services*/

.card-ser{
    height: 90%;
    width: 100%;
    margin: 10%;
    transition: 0.3s;
    box-shadow: 0.2rem 0.5rem 1rem rgba(0,0,0,0.2);

}
.card-ser:hover{
    border: #dddddd;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    transform: scale(1.04);
    box-shadow: 1 rem 1.5rem 1.2rem rgba(0,0,0,0.2);
    
}

/*section of Contact*/
 form {
    width: 60%;
    margin-right: 3.5rem;
  }
.contact{
    background-color: #e5ecfb ;
}
.icon {
    padding: 15px;
    
    min-width: 40px;
}
.form-group{
    display: absolute;
    flex-direction: column;
    justify-content: center;
}
.field {
    height: 50px;
  display: flex;
  position: relative;
  margin: 1rem;
  width: 100%;
}
form .field input,
form .message textarea {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 16px 0 48px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  border: 1px solid rgb(51, 51, 51);
  background: #e5ecfb;
}

form .message {
  position: relative;
  margin: 1rem;
  width: 100%;
}

form .message textarea {
  min-height: 130px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  padding: 12px 20px 0 48px;
}
.button-area{
    margin: 1rem;
    position: absolute;
    line-height: 0;
    padding: 1.2rem 3rem;
    border-radius: 0.5em;
    border: none;
    transition: 0.5s;
    color: #fff;
    background: #097c75;
    font-family: "Nunito", sans-serif;
    text-decoration: none;
    font-weight: 600;
    
}
.button-area:hover{
    color: #097c75;
    background: #f7f7f7; 
}


.input-icons i {
    position: absolute;
}




#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 1000; 
    border: none; 
    outline: none; 
    background-color: #097c75; 
    color: white; 
    cursor: pointer; 
    padding: 10px; 
    border-radius: 10px; 
    font-size: 18px; 
  }
  
  #myBtn:hover {
    background-color: #555;
  }

  /* footer section starts */
.footer {
    min-height: auto;
    padding-top: 0;
    background: #097c75;
    
  }
  .footer .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer .box-container .box h3 {
    font-size: 1.7rem;
    color: #fff;
    padding-bottom: 1rem;
    font-weight: normal;
  }
  .footer .box-container .box p {
    
    color: rgb(238, 238, 238);
    padding: 0.7rem 0;
    text-transform: none;
  }
  .footer .box-container .box a {
    font-size: 1.5rem;
    color: rgb(238, 238, 238);
   
    display: block;
    text-decoration: none;
  }





  .footer .box-container .box {
    flex: 1 1 25rem;
    margin: rem;
  }
  .footer .box-container .box h3 {
    font-size: 2rem;
    color: #fff;
    padding-bottom: 1rem;
    font-weight: normal;
  }
  .footer .box-container .box p {
    font-size: 1rem;
    color: #ccc;
    padding:  0;
    text-transform: none;
  }
  .footer .box-container .box p i {
    padding-right: 1rem;
    color: #fff;
  }








  .footer .box-container .box .share a {
    height: 40px;
    width: 40px;
    margin: 5px;
    background: #929699;
    border-radius: 50px;
    color: #fff;
    transition: 0.4s;
    border: none;
    text-decoration: none;
    display: inline-block;
    text-align: center; 
    position: relative;
    z-index: 1;
    overflow: hidden;
    flex: 1 1 40rem;
    display: inline-block;
    
  }
  

.footer .box-container .box .share a:hover{
    background: #fff;
    color: #929699;
}

.footer{
    position: relative;
}
 
 
 
  
  /* footer section ends */



 








